h2 {
/* text-decoration: underline; */
border-bottom: solid;
margin-right: 5%;
margin-left: 0%;
}


body {
background-color: #F8EDE6;
color: #1A28FF;
}

.parent {
display: grid;
grid-template-columns: 1fr 40px 1fr;
/* grid-template-rows: repeat(4, 1fr); */
grid-column-gap: 0px;
grid-row-gap: 24px;

border: 10px solid royalblue;
background-color: #F8EDE6;
padding: 40px;
max-width: 900px;
margin: 40px auto;

}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 1 / 3 / 2 / 4; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 3 / 4 / 4; }
.div8 { grid-area: 4 / 3 / 5 / 4; }
